/* CUSTOM STORY STYLE */

body
    padding max(5vw, 1vw) 
    padding-bottom 0em

@font-face
	font-family Avenir

.wrapper
	position relative
	align-items center
	margin-right 0rem
	margin-left 0rem
	display block

#autocomplete
    position absolute
    border none
    border-bottom 1px solid #AAAAAA
    width 40%
    min-width 250px
    left 50%
    margin-right -50%
    transform translate(-50%, 75%)
    font-size 28px
    z-index 10000

.typeahead
    width 200px
    position relative
    opacity 0
    border none
    z-index 10000

input[type=text]
    font-size 28px
    font-family 'Raleway'
    background-color transparent
    width 355px
    opacity 1
    outline-width 0
    text-align center
    border-bottom none

.typeahead.dropdown-menu, span.twitter-typeahead .tt-menu
    min-width 100%
    background white
    border none
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
    border-radius 0
    font-size 1.2rem

span
    &.twitter-typeahead
        .tt-hint
            font-size 0
        .tt-suggestion
            color gray
            cursor pointer
            padding 1rem
            text-transform capitalize
            font-weight 400
        .tt-menu
            max-height 300px
            overflow-y auto

span.twitter-typeahead .active.tt-suggestion,
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .active.tt-suggestion:focus,
span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
span.twitter-typeahead .active.tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover
    background-color #EEEEEE
    color #4285F4

.interactive-wrapper
	position fixed
	overflow scroll
	right 3rem
	height 100vh
	width 19rem
	pointer-events none

#wrapper-container
	height min(100vh, 500)
	width 100%
	position relative

#graphic-wrapper
	height 100vh
	width 100%
	position relative
    overflow visible

#flag-wrapper
	width 100%


.area
	fill none
	stroke none
	transition all 0.3s ease-out


.location-circle
	opacity 1
	z-index 1000

.icon-text
	font-family 'Raleway'

.preloader
	text-align: center
	vertical-align: middle;
	top: 50%;
	justify-content center
	align-items center
	position absolute
	width 100%
	transform translate(0%, -50%)
	left 0
	z-index 9999
	transition opacity 0.3s linear
	pointer-events none

.link-text:hover
	text-decoration none 
	color #04A933
	font-weight 700px
	border-bottom 2px solid #04A933
